; Default to Unix style for everything and specialize as needed
[*]
indent_style             = tab
indent_size              = 8
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true

; Go
[*.go]
indent_style             = tab
indent_size              = 4
charset                  = utf-8
trim_trailing_whitespace = true

; Modern markup langs
[*.{md,yml,json}]
indent_style = space
indent_size  = 2

; Shell files
[*.sh]
indent_style = tab
indent_size  = 8
end_of_line  = lf

[Dockerfile]
indent_style = space
indent_size = 4
